{%load static%}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tiles Swap</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/connexion.css'%}">
        <link rel="shortcut icon" href="{% static 'image/favicon.ico'%}"/>
    </head>
    <body>
        <!-- barre de navigation -->
        <div id="header">
        {%block navbar%}
            <div id="logo">
            <img src="{% static 'image/memory.png'%}" alt='logo' width=100px height=100px></a>
            </div>
            <nav class="menu">
                <ul>
                    <li id="firstchild"><a href= "{%url 'index'%}">Accueil</a></li>
                    <li><a href="{%url 'profil'%}" > Profil</a></li>
                    <li><a href="{%url 'game'%}"> Game</a>
                    <li><a href="{%url 'inscription'%}" >S'inscrire</a></li>
                    <li><a href="" >API</a></li>
                </ul>
            </nav>
        {%endblock%}
        </div>
        <!-- formulaire de connexion -->
        <section class="login">
            <div id="login_title"> Connexion </div>

            <form id="formulaire">
                <div class="input">
                    EMAIL OU NOM D'UTILISATEUR <br>
                    <input type="email" name="Email" required><br>
                </div>
                <div class="input">
                    MOT DE PASSE <br>
                    <input type="Password" name="Password" required>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="Checkbox"> Se souvenir de moi 
                </div> <br>
                <input type="button" value="Connexion" id="button_inscription">
                <p>Pas encore membre ? <a href="{% url 'inscription' %}">Inscrivez-vous ici</a>.</p>
            </form>
        </section>
        <!-- footer -->
        <div id="footer">
            <nav class="menu">
                <ul>
                    <li id="firstchild"><a href= "{%url 'index'%}">A propos de nous</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{%url 'game'%}"> Game</a>
                    <li class="droite"><a href="{% url 'deconnect' %}">Deconnexion</a></li>
                    <li><a href="{%url 'profil'%}" > Profil</a></li>
                    <li><a href="{%url 'inscription'%}" >Sign Up</a></li>
                    {% else %}
                    <li class="droite"><a href="https://fr.wikipedia.org/wiki/Jeu_de_paires" target="_blank" >Qu'est-ce que le memory ?</a></li>
                    {% endif %}
                    <li><a href="api" >API</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>