{%load static%}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tiles Swap</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel="shortcut icon" href="{% static 'image/favicon.ico'%}"/>
    </head>
    <body>
        <!-- barre de navigation -->
        <div id="header">
        {%block navbar%}
            <div id="logo">
            <img src="{% static 'image/memory.png'%}" alt='efazvaef' width=100px height=100px></a>
            </div>
            <nav class="menu">
                <ul>
                    <li id="firstchild"><a href= "{%url 'index'%}">Accueil</a></li>
                    <li><a href="{%url 'game'%}"> Game</a>
                    <li class="droite"><a href="{% url 'deconnect' %}">Deconnexion</a></li>
                    <li><a href="{%url 'profil'%}" > Profil</a></li>
                    <li><a href="api" >API</a></li>
                </ul>
            </nav>
        {% endblock %}
        </div>
        <!-- accueil du site -->
        <section id="bienvenue">
            <img src="{% static 'image/hellokitty.png'%}" alt="hello kitty" id="hellokitty">
            <div id="texte">
                Bienvenue sur le site du memory des chats ! <br><br>
                Retrouvez ici un jeu de memory en ligne gratuit pour tout les adeptes de chats. <br> Vous pouvez vous creer un compte afin d'enregistrer vos parties et avoir une vue globale de vos statistiques de jeu. <br><br>
                Amusez vous bien !
            </div>
            <img src="{% static 'image/hellokitty2.png'%}" alt="hello kitty2" id="hellokitty2">
            
        </section>
        <!-- footer -->
        <div id="footer">
            <nav class="menu">
                <ul>
                    <li id="firstchild"><a href= "{%url 'index'%}">A propos de nous</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{%url 'game'%}"> Game</a>
                    <li class="droite"><a href="{% url 'deconnect' %}">Deconnexion</a></li>
                    <li><a href="{%url 'profil'%}" > Profil</a></li>
                    <li><a href="{%url 'inscription'%}" >Sign Up</a></li>
                    {% else %}
                    <li class="droite"><a href="https://fr.wikipedia.org/wiki/Jeu_de_paires" target="_blank" >Qu'est-ce que le memory ?</a></li>
                    {% endif %}
                    <li><a href="api" >API</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>