*{
  font-family: 'Nova Square';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

html {
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
}

body {
  height: 100vh;
  background-color: rgb(228, 250, 255);
}

#header{
  display:flex;
  align-items: center;
  background-color: rgb(129, 176, 230);

} 

#logo{
  margin: 10px;
  width:400px;
  height:100px;
}
ul{
  list-style-type: none;
  padding-bottom: 10px;
  overflow: hidden;
  display: flex;
}

li{
  margin-right: 40px;
  padding: 20px 10px;

}
#firstchild{
  margin-left:90px;
}
li a{
  font-size: 130%;
  display: flex;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  text-align: center;
}

nav ul li a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Ombre textuelle pour créer l'effet de brillance */
}

#login{
    display: block;
    height: 400px;
    width: 30%;
    margin: auto;
    margin-top: 4%;
    background-color: rgb(129, 176, 230);
    border-radius: 5px;
    margin-bottom: 20%;
}
#login_title{
    background-color: rgb(147, 206, 245);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 1.5%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/* centrer les formulaires dans la section de connexion */
#formulaire{
  padding: 10%;
  text-align: justify;
  margin-left: 5%;
  font-size: 125%;
}
/* espacement entre les input et leurs formulaires */
.input input{  
  margin-top: 2%;
  caret-color: rgb(23, 6, 51);
  padding: 3px;
  color: black;

}
/* espacement entre les formulaires */
.input{
  margin-bottom: 2%;
}
#button_connexion{
  color: black;
  padding: 1%;
  background-color: white;
  border-color:rgb(129, 176, 230);
}
#button_connexion:hover{
  background-color: rgb(210, 228, 245);
}

.corps{
  align-items: center;
}